spring:
  application:
    name: backend

  datasource:
    url: jdbc:mariadb://localhost:3306/backend
    username: root
    password: "01102000"
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false

logging:
  level:
    org:
      springframework:
        security:
          config: ERROR